.starfield-background {
    background-color: var(--canvas-background);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1; /* Keep it behind all content */
    background: hsl(0, 0%, 0%);
    display: block;
}

body {
    position: relative;
    z-index: 1;
}
.starfield-background {
    transition: width 0.3s ease, height 0.3s ease;
}
@media (max-width: 768px) {
    .starfield-background {
        transform: scale(1);
    }
}

body.light-mode .starfield-background {
    filter: invert(1);
  }